header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;}