*{
    padding: 0;
    margin: 100px;
    box-sizing: border-box;
}


.t1:hover{
    background-color: deepskyblue;
    font-family: cursive;
    transform: scale(1.1);
    transition: 1s;
    width: 300px;
    height: 300px;
    box-shadow: seagreen;
}


.t1{


    display: flex;
    justify-content: center;
    align-items: center;
   
}

.t2:hover{
    background-color: cornflowerblue;
    font-family: cursive;
    transform:scale(1.1);
    transition: 1s;
    width: 300px;
    height: 300px;
    box-shadow: saddlebrown;
}

.t2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}