*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 400px;
    height: 250px;
    ;
}
body{
    gap: 140px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    height: 75px;
    gap: 40px;
    width: 100%;
   
    

}

h1{
    font-size: medium;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.proffesion{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    gap: 130px;
}